:root {
    --background-color: #2A9D8F;
    --font-color: #fff;
    --font-color-placeholder: #d6d6d6;
    --header-background-color: #264653;
    --header-font-color: #fff;
    --field-background-color: #E9C46A;
    --field-background-color-tie: rgb(240, 187, 89);
    --field-background-color-win: rgb(157, 240, 89);
    --field-background-color-hover: #8d8d8d;
    --border-color: #000;
    --button-background-color: #F4A261;
    --button-background-color-hover: #E76F51;
    --button-background-color-active: #E76F51;
    --font: 'Work Sans', sans-serif;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--font-color-placeholder);
    opacity: 1; /* Firefox */
  }

*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html{
    /* Footer support */
    position: relative;
    min-height: 100vh;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.6;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.btn {
    background-color: var(--button-background-color);
    padding: 1rem 3rem;
    border-radius: 20px;
    border: none;
    font-family: var(--font);
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--button-background-color-hover);
    transform: translateY(0.25em);
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: var(--header-background-color);
}


/* MAIN */


.alert {
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    height: 454px;
    width: 454px;
    border: 2px solid var(--border-color);
    margin: 0 auto;
}

.cell {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--field-background-color);
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.cell-tie {
    background-color: var(--field-background-color-tie);
}

.cell-win {
    background-color: var(--field-background-color-win);
}




form {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

.form-group, h3 {
    padding-bottom: 2rem;
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


.place {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.transition {
transform: translateY(1200px);
transition: all 0.5s ease-in-out;

}

.hidden {
    display: none;
}



/* Footer Styling */

.github-icon {
    width: 12px;
    height: 12px;
    transition: 0.3s ease;
  }
  
  .github-icon:hover {
    transform: scale(1.2);
  }
  
  footer {
    text-align: center;
    height: 5vh;
    font-size: 12px;
  }

@media all and (max-width: 600px) {

    .board {
      height: 304px;
      width: 304px;
    }

    .cell {
        font-size: 2rem;
        width: 100px;
        height: 100px;
    }

 }